.page-dashboard {

}

#TitleText {
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  font-style: italic;
  top: 25%;
}

#DashboardPage {
  background-color: orange;
}

#RadioGroup {
  background-color: red;
}

#SportsTeams {
  font-size: 30px;
}

#Football {
  font-size: 25px;
}

#Broncos {
  font-size: 20px;
}

#Soccer {
  font-size: 25px;
}

#Barcelona {
  font-size: 20px;
}

#Baseball {
  font-size: 25px;
}

#Yankees {
  font-size: 20px;
}

#Basketball {
  font-size: 25px;
}

#Warriors {
  font-size: 20px;
}
