.page-welcome {
  
}

#TitleText {
  text-align: center;
}

#LoginButton {
    position:absolute;
    transition: all .3s ease .5s;
    top: 50%;
    left: 25%;
    $button-round-border-radius: 64px
}
